<section>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">

        <dir class="container">
            <div *ngIf="f.submitted && isSignUpFailed" class="alert-error">
                Signup failed!<br />{{ errorMessage }}
            </div>
            <div   *ngIf="isSuccessful" class="alert-message">
                <p> Your registration is successful In Ordr to activate your account
                    please go to your email : {{form.email}} </p>
            </div>

            <div class="title">
                <h1>User Ragistration</h1>
            </div>
            <div class="form-field">
                <mat-form-field>
                    <input type="text" matInput placeholder="Full Name" required ngModel #usernameInput="ngModel" name
                        name="username">
                    <!-- <mat-error *ngIf="usernameInput.hasError('required')">Empty is not allawed</mat-error>
     -->
                </mat-form-field>
                <mat-form-field>
                    <input type="email" matInput placeholder="Your email" required ngModel #emailInput="ngModel" email
                        name="email">
                    <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid</mat-error>
                    <!-- <mat-error *ngIf="emailInput.hasError('required')">Empty is not allawed</mat-error>
                   
               -->
                </mat-form-field>
                <mat-form-field hintLabel="Should be Atleast 6 charachters">
                    <input type="password" matInput ngModel name="password" #pwInput="ngModel" minlength="6"
                        placeholder="Your password">
                    <!-- <mat-hint align="end">{{pwInput.value?.length}}/6</mat-hint>
                    <mat-error>Short Password</mat-error> -->
                </mat-form-field>
                <mat-form-field hintLabel="Should be Atleast 6 charachters">
                    <input type="password" matInput ngModel name="password2" #pwInput2="ngModel" minlength="6"
                        placeholder="Retype password">
                    <!-- <mat-hint align="end">{{pwInput2.value?.length}}/6</mat-hint> -->
                    <!--     
                    <mat-error>Short Password</mat-error> -->
                </mat-form-field>
                <div class="agree">
                    <mat-checkbox ngModel name="agree" color="primary" required>Agreed To Terms and Conditions
                    </mat-checkbox>

                </div>

            </div>
            <div class="action">
                <button type="submit" mat-raised-button class="adv-button" [disabled]="f.invalid">Submit</button>
            </div>



        </dir>
    </form>
</section>