<div class="container">
  <div id="content" >
    <div id="main-content" >
      <mat-tab-group animationDuration="0ms"  style="padding: 50px;" color="white" >
        <mat-tab label="Tab One"   >
          <div class="" style="padding: 50px;" >
            Tab One Content
            <button mat-button >Action</button>
          </div>
         
        </mat-tab>
        <mat-tab label="Tab Two">
          Tab Two Content

          <button mat-button >Action</button>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
 