 

 
 <mat-card   >
  

     <mat-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="" fxFlexOffset="10"  fxLayout="column" fxLayoutAlign="start start" fxFlex=50%>
            <mat-form-field class="example-full-width">
                <mat-label>Full User Name</mat-label>
                <input matInput type="text" formControlName="fullname"  required>
              </mat-form-field>
            
              
              <button class="adv-button" mat-raised-button color="primary" type="submit"    [disabled]="!form.valid" >Save Change</button> 
              </div>
        </form>
     </mat-card-content>
     <mat-card-actions align="start">
        
         
     </mat-card-actions>
  
 </mat-card>

