  flex{
      display: flex;
  }
 section{
     display: flex;
     flex-direction: row;
     justify-content: center;
 }
 .container{
     background-color: white;
    max-width: 300px;
     justify-content: center;
     padding: 10px 0;
     margin :20px;
     
 }
 .header {
     width: 100%;
     display: flex;
     justify-content: center;
    border-bottom: 2px solid #d6d6d6; ;
    
 }
 .instruction{
      padding: 10px 10px 0px 10px ;
      font-weight: 300;
 }
 .input mat-form-field {
      width: 90%;
      padding: 0 5%;

 }

.action{
    display: flex;
    justify-content: center;
}

 .adv-button{
    background-color: #00a651;
     color: white;
     font-size: 1em;
     min-width: 80%;
     margin: 5px 5%;
    
}
 