 
    <section>
        <form class="form" role="form"  (ngSubmit)="f.valid&&onSubmit()" #f="ngForm">
        <div class="container">
            <div class="header">
                <h1>Forgot Password</h1>
            </div>
            <div class="instruction  ">
                <p>Please Enter your email and we will send to you a reset link. </p>
            </div>
            <div class="input ">
                <mat-form-field  >
                    <mat-label>Enter your email</mat-label>
                    <input matInput  [(ngModel)]="email" email required name=email>
    
                </mat-form-field>
    
            </div>
            <div class="action">
                <button class="adv-button"type="submit" mat-raised-button    [disabled]="f.invalid" mat-raised-button>Submit</button>
            </div>
     </div>
    </form>
    </section>