 
    <section style="padding-top: 40px;padding-bottom: 10px;"  fxLayout="row" fxLayoutAlign="center center">
        <div >
            <form class="form" role="form"  (ngSubmit)="f.valid&&onSubmit()" #f="ngForm">
                <mat-form-field  style="padding-right: 50px;"  >
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" [(ngModel)]="email" email required  name=email #femail="ngModel" >
                    
                  </mat-form-field>
                  <button type="submit" mat-raised-button color="primary"  [disabled]="f.invalid">Submit</button>
              


            </form>
           
        </div>
    </section>
