 
<div class="profile_page" fxLayout="row" fxFlex="80" fxFlexOffset="10"  fxLayoutAlign="start start" fxLayoutGap="50px">
   
    <div class="profile_data"  fxFlex="grow0">
       <mat-tab-group  dynamicHeight animationDuration="0ms">
           <mat-tab label="Personal Information"  >
              <app-personal-information></app-personal-information>
           </mat-tab>
           <mat-tab label=" Address"  >

           <app-change-address></app-change-address>
           
        </mat-tab>
        <mat-tab label="Password"  >
         <app-change-password></app-change-password>
      </mat-tab>
      <mat-tab label="Mobile"  >
        <app-change-phone></app-change-phone>
      </mat-tab>
      <mat-tab label="Profile Image"  >
       <app-change-profile-image></app-change-profile-image>
      </mat-tab>

     
       </mat-tab-group>
    </div>
</div>  



<!-- <div class="container">
   <div id="content" >
     <div id="main-content" >
       <mat-tab-group animationDuration="0ms"    color="white" >
         <mat-tab label="Edit Personal Information"  style="align-content: flex-end;" >
            <app-personal-information></app-personal-information>
         </mat-tab>
         <mat-tab label=" Change Address"  style="align-content: flex-end;" >

         <app-change-address></app-change-address>
         
      </mat-tab>
      <mat-tab label="Change Password" style="align-content: flex-end;" >
       <app-change-password></app-change-password>
    </mat-tab>
    <mat-tab label="Change Mobile" style="align-content: flex-end;"  >
      <app-change-phone></app-change-phone>
    </mat-tab>
       </mat-tab-group>
     </div>
   </div>
 </div> -->