<div class="post_detail" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px" FX fxFlex="80"
  fxFlexOffset="5" style="padding-top: 30px;">



  <div class="top_section" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="50px">

    <div class="corasel_image_list" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
      <!-- CORRACEL START  -->
      <mat-card class="corasel_img">


        <img src="{{mainPicture_url}}" style="width:300px;height: 300px;" (click)="imageClick2()">

      </mat-card>
      <mat-card style="max-width: 300px;">
        <div class="image_list">
          <div class="image_list" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px">
            <div class="" *ngFor="let s of post.postImage ;let i=index">


              <a (click)="imageClick(i)"><img src="{{s.url}}" style="width: 50px;height: 50px;"> </a>
            </div>
          </div>
        </div>
      </mat-card>



    </div><!-- CORRACEL end  -->
    <div class="coracelsid" fxLayout="column" fxLayoutAlign="start start">
      <!-- SECTION START -->
      <div class="description">{{post.description}}</div>
      <div class="price">{{displayPrice()}}</div>

      <div fxLayout="row wrap" fxLayoutAlign="space-between none">

        <div class="postdate">{{post.createdDate |date}}</div>
        <div class="view">{{post.view}}</div>

      </div>

      <div class="specification" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
        <!-- specification start  -->
        <div class="">Secification</div>
        <div class="specifcation_detail">
          <table *ngFor="let sp of post.specificationList">
            <tr>
              <td>{{sp.specification.key}}</td>
              <td>{{sp.value}}</td>
            </tr>


          </table>
        </div>
      </div><!-- specification END -->

    </div><!-- SECTION END -->




  </div>

  <div class="detal">{{post.detail}}</div>
  <div class="contact"></div>
  <div class="ralaited_obj"></div>

</div>