<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">

    <img src="assets/img/corasel.jpg" style="width:100%">
    <div class="text">
      <div class="title">Buy & Sell Near You <br></div>
      <div class="content">
        <p> Join the thousands who buy and sell from each other</p>
        <p> everyday in South Sudan</p>
         <p><a class="adv-button" mat-button routerLink="/cat">View All Ads</a></p>

      </div>

    </div>

  </div>




</div>