.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
mat-card {
    padding-top: 50px;
}
mat-card-title {
  margin-left: 25%;
  padding-bottom: 25px;
  font-weight: 300;
}
.adv-button{
  background-color: #00a651;
   color: white;
   font-size: 1em;
   min-width: 150px;
}