 
<div class="wrapper">
  <header>
    <div class="top-header">
     <div class="flex"   >
       <div class="support-contact">
      <ul>
        <li>  <mat-icon>phone</mat-icon>+024564874 </li>
        <li><span><mat-icon>email</mat-icon>support@gmail.com</span></li>
      </ul>
        </div>
        <div class="login-social">
          <a mat-button routerLink="/user/newpost"  class="btn1" >  Post Ads      </a>
           
         
        </div>
       
     </div>
    </div>
      <div class="wrapper2"> 
       <div class="second-menu flex"> 
      <div class="logo">
        <a href="#">Hakir</a>
      </div>
       <div class="menu">
         <button class="main-button" mat-button [matMenuTriggerFor]="adminMenu" *ngIf="adminRoleLogedIn()">Admin <i class="fas fa-caret-down"></i></button>
         <mat-menu #adminMenu="matMenu" yPosition="above">
           <button class="btn3" mat-menu-item routerLink="/admin/catagory">Product Catagory </button>
           <button class="btn3" mat-menu-item routerLink="/admin/post">Post Managment</button>
           <button class="btn3" mat-menu-item routerLink="/admin/setting">Admin Setting</button>
           <button class="btn3" mat-menu-item routerLink="/admin/finance">Admin Finance</button>
            
         </mat-menu>
         
         <button  class="main-button"  mat-button [matMenuTriggerFor]="managerMenu" *ngIf="managerRoleLogedIn()">Manager <i class="fas fa-caret-down"></i></button>
         <mat-menu #managerMenu="matMenu" yPosition="below">
           <button class="btn3" mat-menu-item routerLink="/managment/post">Post</button>
          
         </mat-menu>
         
         <button  class="main-button" mat-button  [matMenuTriggerFor]="financeMenu" *ngIf="financeRoleLogedIn()">Finance <i class="fas fa-caret-down"></i></button>
         <mat-menu #financeMenu="matMenu" yPosition="below">
           <button class="btn3" mat-menu-item  routerLink="/income_recept">Income recept</button>
           <button class="btn3" mat-menu-item routerLink="/Expense_recept">expense receipt </button>
         </mat-menu>
         
         
         <button class="main-button1" mat-button [matMenuTriggerFor]="userMenu" *ngIf="userRoleLogedIn()" >User <i class="fas fa-caret-down"></i></button>
         <a class="main-button1" mat-button  routerLink="/login" *ngIf="!userLogedIn()"  > <i class="fas fa-sign-in-alt"></i> Login </a>
         <!--  -->
         <mat-menu #userMenu="matMenu" xPosition="after">
           
           <button class="btn3" mat-menu-item routerLink="/user/setting">My Setting</button>
           <button class="btn3" mat-menu-item routerLink="/logout">Log Out</button>
         </mat-menu>

          <!-- <ul>
            <li>Home</li>
            <li>Admin</li>
            <li>Managment</li>
            <li>Finance</li>
            <li>Contact</li>
            <li>About</li>
          </ul> -->
         </div>
       </div>
     </div>
  </header>



</div>