<div fxFlexOffset="50px">
  <form (ngSubmit)="submitPost()" [formGroup]="postForm">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
      <!-- id field -->
      <mat-form-field  style="display: none;" >
        <mat-label>Id</mat-label>
        <input matInput placeholder="Id"   type="text" formControlName="id">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Catagory</mat-label>
        <mat-select formControlName="productSubCatagory" (selectionChange)="onCatagoryChange($event)" required>
          <mat-option value=""> </mat-option>
          <mat-optgroup *ngFor="let catagory of catagorys" [label]="catagory.name">
            <mat-option *ngFor="let subcat of catagory.productSubcatagory" [value]="subcat">
              {{subcat.name}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <!-- //sale Location -->
      <mat-form-field appearance="fill">
        <mat-label>Sales Location</mat-label>
        <mat-select formControlName="salesLocation" required>
          <mat-option *ngFor="let sal of salesLocation" [value]="sal">
            {{sal.city}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Product or Service description -->
      <div class=""  *ngIf="isSubCatSelected" >

        <mat-form-field>
          <mat-label>Product or Service description</mat-label>
          <input matInput placeholder=" " required formControlName="description" required>
        </mat-form-field>
      </div>

      <!-- specification  start  -->
      <div class="" *ngIf="isSubCatSelected" formGroupName="specification">

        <div *ngFor="let form_elem of selectSubCat.specificationList">
          <div [ngSwitch]="form_elem.controlType">
              <!-- text box section -->
              <mat-form-field  *ngSwitchCase="'textbox'">
                <mat-label>{{form_elem.label}}</mat-label>
                <input matInput [placeholder]="form_elem.placeholder" [pattern]="form_elem.pattern" formControlName="{{form_elem.key}}"  [value]="form_elem.value" [id]="form_elem.key" [type]="form_elem.type">
                <!-- <div color="accent" *ngIf="!isValid">{{question.label}} is required</div> -->
              </mat-form-field>
             <!-- drop down selection  section -->
             <mat-form-field   *ngSwitchCase="'dropdown'">
              <mat-label>{{form_elem.label}}</mat-label>
              <mat-select  [formControlName]="form_elem.key"   [placeholder]="form_elem.placeholder"  [id]="form_elem.key"  >
                <mat-option *ngFor="let opt of form_elem.option"  [value]="opt.item" >
                  {{opt.item}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- textarea section  -->
            <mat-form-field *ngSwitchCase="'textarea'">
              <mat-label>{{form_elem.label}}</mat-label>
              <textarea matInput  [placeholder]="form_elem.placeholder"   formControlName="{{form_elem.key}}" 
              [id]="form_elem.key" [value]="form_elem.value" ></textarea>
            </mat-form-field>
            
          </div>
        </div>
      </div>

        <!-- specification  end -->
        <!-- detail -->
        <div class="" *ngIf="isSubCatSelected">
          <mat-form-field>
            <mat-label>Product or Service detail</mat-label>
             
            <textarea matInput  formControlName="detail" required width="50"   height="50" ></textarea>
          </mat-form-field>
        </div>
       

        <!-- //price -->
        <!-- <mat-form-field>
        <mat-label>Product Price or Type of Service</mat-label>
        <input matInput placeholder="Price"   formControlName="price" required>
      </mat-form-field> -->
        <!-- //currency -->
        <!-- <mat-form-field appearance="fill">
          <mat-label>Currency</mat-label>
          <mat-select  formControlName="currency" required>
            <mat-option *ngFor="let cur of currency1" [value]="cur">
              {{cur.shortName}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <!-- file upload -->
         
        <div class="" *ngIf="isSubCatSelected"  fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
          <button mat-raised-button color="primary" (click)="onClick($event)">
            <mat-icon>add</mat-icon>
            {{chooseLabel}}
          </button>

          <input #fileUpload type="file" class="input_fileupload--hidden" (input)="onInput($event)"
            (change)="onFileSelected($event)" formControlName="inputFileName" accept=".png, .jpg, .jpeg" multiple>

             <div fxLayout="row wrap"   fxLayoutGap="10px">
              <div *ngFor="let f of files ; let i=index "     >
                <div  class="img-wraps"  >
                  <span  class="closes" title="Delete" (click)="removeFile($event,f)"  >&times; </span>
                  <img     [src]="imageSrc[i]" style="height: 100px; width:100px" class="img-responsive" >
    
                
                </div>
    
              </div>
             </div>
           
        </div>

        


        <!-- payment   options  -->

        <div class="" *ngIf="isSubCatSelected" formGroupName="post_payment">
          <mat-radio-group formControlName="payment_option"   [required]="payment_required()"  (change)="paymentOnChange()">
            <div class="" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">

              <div fxLayout="row" *ngIf="selectSubCat.contact" fxLayoutAlign="space-between" fxLayoutGap="20px">

                <mat-radio-button value="CONTACT">contact for Price</mat-radio-button>



              </div>
              <div fxLayout="row" *ngIf="selectSubCat.price" fxLayoutAlign="space-between" fxLayoutGap="20px">
                <mat-radio-button value="PRICE" style="padding-top:20px">Price</mat-radio-button>
                <div class="" fxLayout="column" fxLayoutAlign="start start">
                  <mat-form-field class="example-full-width">
                    <mat-label>Price</mat-label>
                    <input matInput placeholder="selling Price" pattern="[0-9]+" formControlName="price_amount"  [readonly]="price_readonly" [required]="price_required" >
                  </mat-form-field>
                  <div class="">
                    <mat-checkbox formControlName="negotiable"   [disabled]="negotiable_readonly">Negotiable</mat-checkbox>
                  </div>
                </div>

              </div>
              <div fxLayout="row" *ngIf="selectSubCat.commision" fxLayoutAlign="space-between" fxLayoutGap="20px">
                <mat-radio-button value="COMMISSION"> Commition</mat-radio-button>

              </div>
              <div fxLayout="row" *ngIf="selectSubCat.range" fxLayoutAlign="space-between" fxLayoutGap="20px">
                <mat-radio-button value="RANGE" style="padding-top: 10px;">Range</mat-radio-button>
                <div class="" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
                  <mat-form-field>
                    <mat-label>Min</mat-label>
                    <input matInput placeholder="Minimum" pattern="[0-9]+" formControlName="min" [readonly]="min_readonly" [required]="min_required">
                    <!--  -->
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Max</mat-label>
                    <input matInput placeholder="Max" pattern="[0-9]+" formControlName="max" [readonly]="max_readonly" [required]="max_required">

                  </mat-form-field>
                </div>
              </div>


            </div>
          </mat-radio-group>
        </div>

        <!-- service  type and charge options  -->
        <div class="" *ngIf="isSubCatSelected">
          <mat-radio-group aria-label="Select package" formControlName="package_fee"  [required]="fee_required()">
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
             <!-- free package -->
              <div  *ngIf="selectSubCat.fee_free_enable" class="" style="border: solid black  1px;" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                <mat-radio-button value="0">Free -</mat-radio-button>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p><br>
                <h3><b>{{selectSubCat.fee_free}}</b></h3>
              </div>
               <!--week  Package -->
               <div *ngIf="selectSubCat.fee_week_enable"    class="" style="border: solid black  1px;" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                <mat-radio-button value="1">week -</mat-radio-button>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  </p><br>
                <h3><b>{{selectSubCat.fee_week}}</b></h3>

              </div>
            <!--month  Package -->
            <div *ngIf="selectSubCat.fee_month_enable"  class="" style="border: solid black  1px;" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
              <mat-radio-button value="2">month - </mat-radio-button>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p><br>
              <h3><b>{{selectSubCat.fee_month}}</b></h3>
            </div>
             <!--Year  Package -->
             <div  *ngIf="selectSubCat.fee_year_enable"  class="" style="border: solid black  1px;" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
              <mat-radio-button value="3">year -</mat-radio-button>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p><br>
              <h3><b>{{selectSubCat.fee_year}}</b></h3>
            </div>
            </div>

          </mat-radio-group>
        </div>

        <!-- submit  -->
        <div class="form-row">
          <button type="submit" [disabled]="!postForm.valid">Save</button>
        </div>
      </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <!-- <strong>Saved the following values</strong><br>{{payLoad}} -->

  </div>
</div>