 

 
 <mat-card   >
  <mat-card-title    >Change  Password</mat-card-title>
  <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
           <div class="" fxFlexOffset="10"  fxLayout="column" fxLayoutAlign="start start" fxFlex=50%>
           <mat-form-field class="example-full-width">
               <mat-label>Old Password</mat-label>
               <input  type="password"  matInput  formControlName="oldPassword"  required>
             </mat-form-field>
             <mat-form-field class="example-full-width">
                <mat-label>New Password</mat-label>
                <input  type="password" matInput  formControlName="newPassword"  required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Re type New Password</mat-label>
                <input type="password" matInput  formControlName="newPassword2"  required>
              </mat-form-field>
             
              <button   class="adv-button" mat-raised-button color="primary" type="submit"    [disabled]="!form.valid" >Save</button> 
             </div>
       </form>
    </mat-card-content>
    <mat-card-actions align="start">
       
        
    </mat-card-actions>
 
</mat-card>

