<footer>
    <div class="footer">
    <div class="about">
      <h3>ABOUT ADVERT</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipi
        sicing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.Ut enim ad minim
      </p>
      
      <p>
        Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="useful">
      <h3>USEFUL LINKS</h3>
      <div class="useful-link">
      <ul>
        <li><a href="#"> <i class="fas fa-angle-double-right"></i> Support & Help </a></li>
        <li><a href="#"> <i class="fas fa-angle-double-right"></i> Knowledge Base </a></li>
        <li><a href="#"> <i class="fas fa-angle-double-right"></i> Contact </a></li>
        <li><a href="#"> <i class="fas fa-angle-double-right"></i> Privacy Policy</a></li>
        <li><a href="#"> <i class="fas fa-angle-double-right"></i> Terms Of Service </a></li>

      </ul>
      <ul>
        <li><a href="#"> <i class="fas fa-angle-double-right"></i> Affiliate Program </a></li>
        <li><a href="#"> <i class="fas fa-angle-double-right"></i> Career With Us </a></li>
        <li><a href="#"> <i class="fas fa-angle-double-right"></i> How It Works</a></li>
        <li><a href="#"> <i class="fas fa-angle-double-right"></i> Advertise Policy</a></li>
        <li><a href="#"> <i class="fas fa-angle-double-right"></i> Support</a></li>

      </ul>
    </div>
    </div>
    <div class="contact">
  
        <h3>CONTACT US</h3>
        <ul>
          <li><span><i class="fa fa-map-marker"></i> Address :</span> 123 Street, Your City, United States</li>
          <li><span><i class="fa fa-phone"></i> Phone number :</span> (123) 456-7890</li>
          <li><span><i class="fa fa-envelope"></i> E-mail :</span> <a href="#">yourmail@example.com</a></li>
          <li>
            
          </li>
        </ul>
        <div class="soical-media">
          <ul  >
            
            <li><a   href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a   href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a   href="#"><i class="fab fa-google-plus-square"></i></a></li>
            <li><a   href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a   href="#"><i class="fab fa-youtube-play"></i></a></li>
          </ul>
        </div>
     

    </div>

  </div>
   <div class="copy-right">
      <p>© 2021  Hakir   </p> 
   </div>
  </footer>
