<section style="padding-top: 40px;padding-bottom: 10px;" fxLayout="row" fxLayoutAlign="center center">
  <mat-card    >
   
    <mat-card-header>
             <mat-card-title>Reset Password</mat-card-title>

    </mat-card-header>
 
    
    <mat-card-content    >
      <form class="form" (ngSubmit)="!newpass.invalid && onSubmit()" #newpass="ngForm"  fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center"  >  
        
      <mat-form-field>
        <mat-label>Enter New password</mat-label>
        <input type="password" matInput [(ngModel)]="model.password" minlength="6" name="password" id="password"
          required #password="ngModel" />
          <mat-error>minimum length 6 characters</mat-error>

      </mat-form-field> 
    
      <mat-form-field>
        <mat-label>Retype New Password</mat-label>
        <input type="password" matInput [(ngModel)]="model.pass" minlength="6" id="pass" name="pass" required
          #pass="ngModel" />
          <mat-error>minimum length 6 characters</mat-error>

      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="!newpass.form.valid">Submit</button>
     
    </form>
    </mat-card-content>

    <mat-card-actions align="start">
     

    </mat-card-actions>

   
  </mat-card>
</section>