 
mat-card{
  padding: 0px;
  margin: 0px;
  width: fit-content;
  min-width: 400px;
}
.page1{
  margin-left: 50px;
}   
.img{
  width: fit-content;
}
.img  img{
width: 150px;
height: 150px;

}
.description{
  text-transform: uppercase;
}
.description2 h1{
  text-transform: uppercase;
  font-size-adjust: inherit;
}
.price{
  color: red;
}
.main_container{
  max-width: 50%;
  margin: 15px;

}
 
 