<div class="page1" fxLayout="column" fxLayoutAlign="start start "  fxLayoutGap="10px">
    <!-- add button -->
    <div class="add_button"    fxFlexFill>
        <a mat-button  routerLink="/user/newpost">
            <mat-icon class="mat-18">add</mat-icon>
            Add New Advertisement
        </a>    
         
    
    </div>
<!--         ad list -->
<div class="" fxLayout="column" fxLayoutAlign="start start " fxLayoutGap="10px">
    <div class="productList" *ngFor="let post of posts"  >
    
        <mat-card class="main_container" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
            <div >
                <div class="img"  *ngIf="post.postImage.length>0">
                    
                  
                    <img     src="{{post.postImage[0].url}}" alt="" width="150" height="180"> 
                </div>  
                <div class="img"  *ngIf="post.postImage.length===0">
                   
                  
                    <img     src="assets/img/avatar.png" alt="" width="150" height="180"> 
                </div>
            </div>

             <div class="right_column"  fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="forward_10px">  
                 <div class="description"><h1> {{post.description}} </h1></div>
                  <div class="price"><h2>{{displayPrice(post)}}</h2></div>
                  <div class="btn_view" color="accent" ><a routerLink="/user/postdisplay" [queryParams]="{ pid: post.id}"    mat-button >View</a></div>
                  <div class="btn_view" color="accent" ><a routerLink="/user/editpost" [queryParams]="{ pid: post.id}" mat-button >Edit</a></div>
                </div>
           </mat-card>

        </div>


</div> 
</div>



 